.top-bar {
    height: 80px;
    padding: 22px 0;
}

    .contain-to-grid, .top-bar, .top-bar .top-bar-section, .top-bar .top-bar-section ul, .top-bar .top-bar-section ul li a {
        background: #fff;
    }

        .top-bar .title-area .name img {
            position: relative;
        }

        .top-bar .title-area i {
            color: black;
        }

		.top-bar .top-bar-section ul li.active {
                border-bottom: #FF6600 2px solid;
		}

        .top-bar .top-bar-section ul li a {
            color: black;
            font-family: "Droid Sans", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            font-size: 1em;
        }

            .top-bar .top-bar-section ul li a:hover {
                background: #fff;
            }

        .top-bar.expanded .title-area {
            background: none repeat scroll 0 center rgba(0, 0, 0, 0);
            border-bottom: 3px solid #660000;
        }

@media only screen and (min-width: 40.063em) {
    .top-bar .title-area .name img {
        top: -10px;
    }
}

