<div class="title-banner">
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1>Tryouts</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Skill Requirements</h3>

        <p>
            Our team is a competition-only cheerleading squad, meaning we specifically look for stunting, tumbling, and
            jumping ability.
        </p>

        <div class="row">
            <div class="large-4 columns">
                <h4>Tumbling</h4>

                <ul>
                    <li>
                        <strong>Standing: </strong>Standing tuck. Jumps to tuck strongly encouraged
                    </li>
                    <li>
                        <strong>Standing series: </strong>Two back handsprings ending in a tuck or better.
                             Jumps to standing series tumbling pass will also be evaluated
                    </li>
                    <li>
                        <strong>Running: </strong>Round-off back handspring tuck
                    </li>
                </ul>
            </div>

            <div class="large-4 columns">
                <h4>Flyers</h4>
                <ul>
                    <li>Heel Stretch, Scorpion, Scale, Arabesque
                    </li>
                    <li>Full down from all stunts (double preferred)
                    </li>
                    <li>Basket experience preferred but not required
                    </li>
                </ul>
            </div>

            <div class="large-4 columns">
                <h4>Bases and Backs</h4>
                <ul>
                    <li>Solid group stunting for all body positions
                    </li>
                    <li>Clean catches of double downs
                    </li>
                    <li>Bases with the ability to Side and Main are preferred
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-8 columns">
        <h3>Information Meetings</h3>

        <p>
            Potential members must attend one information session to try out for the team. 
                            During these meetings, we will discuss all aspects of our team and answer questions.
                            Sign-up for tryout times will also occur at these information meetings.
        </p>

        <p>
            Potential members that live out of town  and are unable to attend an information meeting
                    should <a href="#">email Steph and Marina</a>. They will send you the necessary information
                     before you try out and coordinate tryout times.
        </p>
    </div>

    <div class="large-4 columns">
        <div class="panel-box">
            <h4>Meeting Details</h4>

            <h6>
                <strong>Location: </strong>234 Squires
            </h6>

            <h6>
                <strong>Time: </strong>7-8 p.m.
            </h6>

            <h6><strong>Dates</strong></h6>
            <ul>
                <li>September 10, 2013</li>
                <li>September 11, 2013</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>Trying Out</h3>

        <p>
            Tryouts will be held in 20 minute sessions at <a href="http://www.vatechniques.com/">Virginia Techniques</a>. 
            <a href="/home/index/#directions">Directions to Virginia Techniques</a> may be found on 
            our <a href="/home/index">Home page</a>.
        </p>

        <h4>Format</h4>

        <ol>
            <li>Attire consists of a sports bra, spandex shorts, cheer shoes, and a collegiate appearance</li>
            <li>Arrive 20 minutes prior to your assigned session to stretch and prepare</li>
            <li>During your assigned session you will perform
                <ul>
                    <li>Jumps to tumbling</li>
                    <li>Standing tumbling</li>
                    <li>Standing series tumbling pass</li>
                    <li>Running tumbling pass</li>
                    <li>Stunting with previous team members</li>
                </ul>
            </li>
            <li>Please leave the gym at the conclusion of your assigned session</li>
            <li>Results will be emailed the night of tryouts</li>
        </ol>

        <p>
            Following Fall tryouts, the coaching staff will designate alternate positions. The coaching staff reserves
            the right to make further cuts, as necessary.
        </p>

        <p>
            <strong>Note: </strong>Cheerleading is a subjective sport. The decision of the coaching staff is final.
        </p>
    </div>
</div>
