<div class="banner">
    <div class="row">
        <div class="large-5 columns">
            <h1><span>Virginia Tech</span></h1>
            <h3 class="sub-header"><span>Competitive Cheerleading</span></h3>
        </div>
    </div>
</div>

<div class="banner-follow">
    <div class="row">
        <div class="large-12 columns">
            <p>Competitive Cheerleading is an official Virginia Tech club sport competing for national championships.</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-8 small-12 columns">
                <h3>Virginia Tech Competitive Cheerleading</h3>

                <p>
                    Competitive Cheerleading offers female athletes the opportunity to compete in 
                    nationally-recognized cheerleading competitions. Competing at the collegiate level requires
                    dedication and hard work, but it all pays off when we represent our university at 
                    competitions throughout the East Coast.
                </p>
            </div>

            <div class="large-4 columns show-for-medium-up">
                <div class="panel-box">
                    <h4>CONNECT</h4>
                    <h6>Keep up with the Lady Hokies and follow us on the road to NCA Nationals</h6>
                    <br />
                    <div class="row">
                        <div class="large-4 columns text-center">
                            <a href="https://www.facebook.com/vtcompetitivecheerleading">
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                        </div>
                        <div class="large-4 columns text-center">
                            <a href="https://twitter.com/vtallgirl">
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                        </div>
                        <div class="large-4 columns text-center">
                            <a href="#">
                                <i class="fa fa-instagram fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-4 columns show-for-medium-up">
        <div class="panel-box">
            <h4>OFFICERS</h4>

            <ul>
                <li>
                    <strong>Co-President: </strong>
                    <a href="mailto:mgold3@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Marina Goldberg</a>
                </li>
                <li>
                    <strong>Co-President: </strong>
                    <a href="mailto:syu22@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Steph Yu</a>
                </li>
                <li>
                    <strong>Treasurer: </strong>
                    <a href="mailto:ecraft15@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Emily Craft</a>
                </li>
                <li>
                    <strong>Secretary: </strong>
                    <a href="mailto:mcnealy2@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Maggie McNealy</a>
                </li>
                <li>
                    <strong>Fundraising: </strong>
                    <a href="mailto:krv16@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Kayla Via</a>
                </li>
                <li>
                    <strong>Apparel: </strong>
                    <a href="mailto:mkayla93@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Kayla Matikonis</a>
                </li>
                <li>
                    <strong>Social: </strong>
                    <a href="mailto:kcray610@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Kendall Rayha</a>
                </li>
            </ul>
            <br />
            <h4>COACHES</h4>

            <ul>
                <li>Geoffrey Neely
                </li>
                <li>Daniel Nester
                </li>
            </ul>
        </div>
    </div>

    <div class="large-8 small-12 columns">
        <h3>Our Gym</h3>

        <p>
            Our team practices at <a href="http://www.vatechniques.com/">Virginia Techniques</a>, a state-of-the-art gymnastics 
            facility located in Christiansburg, VA. In addition to being the home of Virginia Tech Competitive Cheerleading, 
            Virginia Techniques hosts College Open Gym on Tuesday from 7:45-9:30 p.m. Open gym costs $8 and is an excellent place
            to work on tumbling and stunting skills.          
        </p>

        <h5 id="directions">Directions to Virginia Techniques from Virginia Tech</h5>

        <ul>
            <li>US-460 E towards I-81</li>
            <li>Take exit 2 for US-11/US-460 Bus towards Christiansburg</li>
            <li>Turn right onto Roanoke St</li>
            <li>Take the first right into the shopping center with Food Lion</li>
            <li>In the parking lot, turn right and drive around to the back of the building</li>
            <li>Arrive at 1550 Roanoke St Suite C, Christiansburg, VA 24073</li>
        </ul>
    </div>
</div>
