<div class="title-banner">
	<div class="row">
		<div class="small-12 large-12 columns">
			<h1>Our Team</h1>
		</div>
	</div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <div class="row">
            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <div class="row">
            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="small-12 large-12 columns">
        <div class="row">
            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="large-3 columns">
                <div class="panel-box">
                    <div class="row">
                        <div class="large-12 columns">
                            <img src="Content/images/head-shot.jpg" />
                            <h5 class="text-center">Jane Doe</h5>
                            <p class="text-center">Ashburn, VA</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
