<div class="title-banner">
	<div class="row">
		<div class="small-12 large-12 columns">
			<h1>Schedule</h1>
		</div>
	</div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>February</h3>

        <div class="row">
            <div class="large-4 columns">
                <div class="panel-box">
                    <img src="~/Content/images/hokie-bird.png" />
                    
                    <h4>Exhibition</h4>

                    <h6><strong>February 2, 2013 at 8 p.m.</strong></h6>

                    <h6>
                        Virginia Techniques
                    </h6>
                </div>
            </div>

            <div class="large-4 columns">
                <div class="panel-box">
                    <img src="~/Content/images/cheersport-logo.jpg" />
                    
                    <h4>Cheersport Nationals</h4>

                    <h6><strong>February 15-17, 2013</strong></h6>

                    <h6>Atlanta, GA</h6>
                </div>
            </div>

            <div class="large-4 columns">
                <div class="panel-box">
                    <img src="~/Content/images/battle-logo.jpg" />

                    <h4>Battle at the Capitol</h4>

                    <h6><strong>February 22-24, 2013</strong></h6>

                    <h6>National Harbor, MD</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>March</h3>

        <div class="row">
            <div class="large-4 columns">
                <div class="panel-box">
                    <img src="~/Content/images/cheerex-logo.jpg" />

                    <h4>Cheer & Dance Extreme</h4>

                    <h6><strong>March 23-25, 2013</strong></h6>

                    <h6>Virginia Beach, VA</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3>April</h3>

        <div class="row">
            <div class="large-4 columns">
                <div class="panel-box">
                    <img src="~/Content/images/nca-logo.jpg" />

                    <h4>NCA College Nationals</h4>

                    <h6><strong>April 10-14, 2013</strong></h6>

                    <h6>Daytona Beach, FL</h6>
                </div>
            </div>
        </div>
    </div>
</div>