<div class="title-banner">
	<div class="row">
		<div class="small-12 large-12 columns">
			<h1>Frequently Asked Questions</h1>
		</div>
	</div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> I love Virginia Tech sports. Will I get to cheer for the Hokies?</h3>
        <p>
            We are a competition-only team; we do not cheer sidelines.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> Do you allow males on your team?</h3>
        <p>
            No; we are an all-girl team.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> I want to try out but my tumbling is rusty. What should I do?</h3>
        <p>
            <a href="http://www.vatechniques.com/">Virginia Techniques</a> offers College Open Gym on
            Tuesday from 7:45-9:30 p.m. Cost is $8 and there are certified spotters available to help
            you work on your skills.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> What if I can't make tryouts?</h3>
        <p>
            Many girls are out of state and have a difficult time making it to tryouts. If you absolutely
            cannot make it to tryouts, you may send a video tryout. The video should show you performing
            a standing tuck, jumps to standing tuck, a standing series tumbling pass, running tumbling, and
            a few stunts demonstrating your versatility. This video may be home-made and should be sent to
            <a href="mailto:mgold3@vt.edu;syu22@vt.edu?subject=Virginia Tech Competitive Cheerleading | Contact Us">Steph and Marina</a>.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> Will I be trying out on a spring floor or a dead mat, and which type of floor do you compete on?</h3>
        <p>
            Tryouts are held on a spring floor. We practice and compete on a spring floor at the majority of
            our competitions, however, <a href="http://nca.varsity.com/college_nationals.aspx">NCA College Nationals</a>
            will be held on a dead mat.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> How much do you practice?</h3>
        <p>
            Our regular schedule is two-hour practices, three times per week.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> Will I have to pay dues?</h3>
        <p>
            Yes. Everyone must make individual, monthly payments that cover fees for gym hours, coaches, attire,
            competitions, etc. We have several fundraising opportunities to help with affordability.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> How many competitions do you attend?</h3>
        <p>
            The full team will attend at least three competitions during the Spring semester. The Nationals team
            will attend <a href="http://nca.varsity.com/college_nationals.aspx">NCA College Nationals</a> in Daytona Beach, FL.
        </p>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <h3><span class="gt">&gt;</span> Can I also be involved with a sorority or other activities?</h3>
        <p>
            Yes. In fact, many of our members are involved in Greek life or other activities. However, the time
            management is essential.
        </p>

        <p>
            <strong>Note: </strong>Being on this team is a priviledge and priority and you do not want to let
            your teammates and coaches down. You will be allowed three unexcused absences during the season before
            you are dismissed. If you are injured or sick, you should attend practice to observe and support your
            team.
        </p>
    </div>
</div>

