<div class="title-banner">
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1>Photos</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <ul data-orbit
            data-options="animation:slide;
                  animation_speed:1000;
                  pause_on_hover:true;
                  animation_speed:500;
                  navigation_arrows:true;
                  bullets:false;
                  next_on_click:true;
                  variable_height: true;">
            <li>
                <img src="~/Content/images/d88_65371.jpg" />
                <div class="orbit-caption">
                    Caption One.
                </div>
            </li>
            <li>
                <img src="~/Content/images/d3x_1382.jpg" />
                <div class="orbit-caption">
                    Caption Two.
                </div>
            </li>
        </ul>
    </div>
</div>

<br />
